* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
    background-color: #F5F6F8;
    background-image: url('/asset/img/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
}
/* .bg img{
    width: 100%;
    height: auto;
    margin-top: -45px;
    position: absolute;
} */

.container {
    margin-top: 40px;
    margin-left: 90px;
    margin-right: 90px;
}

.navbar {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
}

.logo img{
    height: 60px;

}

.topnav a{
    text-decoration: none;
    color: #9094A2;
}

.topnav a:hover {
    color: #83D987;
}


.topnav {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.topnav a {
  color: white;;
  padding: 14px 16px;
  text-decoration: none;
}

button {
    background-color: #83D987;
    color: #132039;
    width: 170px;
    height: 50px;
    border-radius: 4px;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background-color: #62c267;
}

.container h2 {
    /* position: relative; */
    margin-top: 119px;
    color: white;
    font-size: 48px;
    font-weight: 600;
}

.container p {
    /* position: relative; */
    color: #9094A2;
    font-size: 16px;
    margin-top: 20px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    background-color: white;
    border-radius: 6px;
    width: 713px;
    height: 112px;
    margin-top: 60px;
}

.formleft{
    display: block;
    width: 120px;
    margin-left: 20px;
    margin-top: 21px;
    margin-bottom: 21px;
}

.formright{
    display: block;
    width: 120px;
    margin-left: 20px;
    margin-top: 21px;
    margin-bottom: 21px;
}

.form label {
    font-size: 14px;
    color: #020B2A;
}

.form input[type=text] {
    width: 230px;
}

.button2 {
    margin: 21px;
}


.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}

.feature img{
    width: 519px;
    height: 550px
}

.reason  {
    margin-left: 150px;
}

.reason h1 {
    margin-bottom: 49px;
    color: #0F1837;
    font-size: 32px;
}

.items {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;
}


.items img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.items p {
    color: #0F1837;
    font-size: 16px;
    padding-bottom: 18px;
}

.statistic {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.data {
    width: 397px;
    height: 96px;
    border-right: 1px solid #D5D9E0;
    text-align: center;
}

.data1 {
    width: 397px;
    height: 96px;
    text-align: center;
}

.data h1 {
    font-size: 36px;
    color: #0F1837;
}

.data1 h1 {
    font-size: 36px;
    color: #0F1837;
}

/* product */

.product {
    background-color: white;
    height: 906px;
    padding-top: 100px;
    padding-left: 90px;
    padding-right: 90px;
}

.tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.tittle h2 {
    font-size: 32px;
}

.tittle a {
    font-size: 16px;
    color: #9094A2;
}

.items1 {
    display: flex;
    justify-content: space-between;
}

.items2 {
    width: 293px;
}

.items2 img {
    position: absolute;
    width: 293px;
}

.type {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 25px;
    width: 133px;
    height: 50px;
}

.type p {
    color: #5943A6;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.subtittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 360px;
}

.location h1 {
    color: #132039;
    font-size: 20px;
}

.location p {
    color: #898889;
    font-size: 16px;
    font-weight: 200;
}

.price h1{
    color: #0A9F82;
    font-size: 20px;
    font-weight: 500;
}

/* footer */

.footer {
    background-color: #F5F6F8;
    height: 184px;
}

.col {
    display: flex;
    justify-content: center;
}

.signUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    background-color: #020B2A;
    border-radius: 6px;
    width: 715px;
    height: 112px;
    margin-top: -3%;
}

.formleft2{
    display: block;
    width: 120px;
    margin-left: 20px;
    margin-top: 21px;
    margin-bottom: 21px;
}

.formright2{
    display: block;
    width: 120px;
    margin-left: 20px;
    margin-top: 21px;
    margin-bottom: 21px;
}

.signUp label {
    font-size: 14px;
    color: #fff;
}

.signUp input[type=text] {
    width: 230px;
}

footer p{
    text-align: center;
    color: #8A8C97;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 200;
}

  